@font-face {
    font-family: 'Impact';
    src: url('Impact-Regular.woff2') format('woff2'),
        url('Impact-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

