@font-face {
    font-family: 'Pirata One';
    src: url('PirataOne-Regular.woff2') format('woff2'),
        url('PirataOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

